@use "./utilities" as *;

.visualizer-container {
    display: grid;
    padding: 1rem;
    box-shadow: inset 0 2rem 2rem -2rem getColor(0);

    p {
        text-align: center;
    }

    table {
        background-color: getColor(1);
        border: 1px solid getColor(0);
        justify-self: center;
        align-self: center;

        select {
            min-width: 100%;
            padding: .5rem;
            border-radius: .5rem;
            border: none;
            color: getColor(1);
            background-color: getColor(2);
        }


        th {
            background-color: getColor(0);
        }
        
        td {
            text-align: center;
        }

        th, td {
            padding: .5rem; 
        }
    }
}